html, body{
    background-color: rgb(0, 200, 200);
}

.header {
    font-size: 55px;
    padding: 20px;
    border-style: dashed;
    border-color: rgb(0, 150, 500);
    text-shadow: 2px 5px 5px gray;}

.box {
    background-color: 255;
    width: 300px;
    height: 75px;
    padding: 5px;
    border: 2px solid black;
    margin: 25px;
    word-wrap: normal;}

.es {
    font-family: cursive;
    font-size: 20px;
    text-indent: 30px;
    background-color: rgb(0,500,800)}

spam {
    font-size: 20px;
    text-shadow: 2px 5px 5px gray;}
